@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./includes/inputs";
@import "./includes/buttons";
@import "./includes/backgrounds";
@import "./includes/typographies";

:root {
	--toastify-icon-color-success: #379956;
	--toastify-color-progress-success: #379956;
	--toastify-color-success: #379956;
	--toastify-color-info: #5865F2;
	--toastify-color-error: hsl(359, 66.7%,54.1%);
}

* {
    font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

body {
	@extend .main-bg;
	background-image: url('../assets/backgrounds/bg-noise.webp');
	// height: 100000px;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #303030;
	border-radius: 24px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #303030;
}