@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./includes/inputs";
@import "./includes/buttons";
@import "./includes/backgrounds";
@import "./includes/typographies";

* {
    font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

body {
	@extend .main-bg;
	background-image: url('../assets/backgrounds/bg-noise.webp');
}